header
  background-image: url(/img/stage-optimized.jpg)
  overflow: hidden
  background-size: 100%
  background-position: center -80px
  max-height: 400px
  background-repeat: no-repeat
  // opacity: .5

.logo
  display: block
  width: 50%
  margin: 0 auto
  max-width: 650px
  
.container
  max-width: 580px

section
  margin: 20px 0
  padding: 20px 0
  border-bottom: 1px solid $gray-lighter

section:first-of-type
  padding-top: 20px

section:last-of-type
  border-bottom: 0px

h2
  text-align: center
  
p, li
  font-size: 18px
  
footer
  width: 100%
  height: 100px
  background-image: url(/img/stripes.svg)
  background-size: 100%
  
@media screen and (max-width 730px)

  
  header
    height: 200px
    background-position: center -30px
    
  .logo
    position: relative
    // top: -30px
    background-size: 150%

  h2
    font-size: 30px
  
  footer
    background-size: 200%
    height: 80px

@media screen and (max-width 600px)

  header
    background-size: 200%
    background-position: center 0
    height: 300px
    
  .logo
    margin-top: 80px
    width: 80%
    


    