/*--------------------
*

Built by Adam Brault

Based on the work of
Karolina Szczur
and Philip Roberts

*
---------------------*/

@import 'yeticss/globals/_colors'
@import 'yeticss/globals/_variables'
// @import 'yeticss/globals/_logos'

@import 'yeticss/libraries/normalize'

@import 'yeticss/components/base'
@import 'yeticss/components/type'
@import 'yeticss/components/navigation'
@import 'yeticss/components/buttons'
@import 'yeticss/components/lists'
@import 'yeticss/components/forms'
@import 'yeticss/components/grid'

header
  background-image: url(/img/stage-optimized.jpg)
  overflow: hidden
  background-size: 100%
  background-position: center -80px
  max-height: 400px
  background-repeat: no-repeat

.logo
  display: block
  width: 50%
  margin: 0 auto
  max-width: 650px
  
.container
  max-width: 960px

section
  margin: 20px 0
  padding: 20px 0
  border-bottom: 1px solid $gray-lighter

section:first-of-type
  padding-top: 0px

section:last-of-type
  border-bottom: 0px

h2
  text-align: center
  
.content-centered
  text-align: center

p, li
  font-size: 18px
  
footer
  width: 100%
  height: 100px
  background-image: url(/img/stripes.svg)
  background-size: 100%
  
ul
  padding-top: 10px
  
  li
    width: 30%
    padding: 0 10px
    display: inline-box
    box-sizing: border-box
    vertical-align: top
  
  img
    width: 150px
    display: block
    margin: 0 auto 20px auto
    
  .space
    height: 90px
    width: auto
    margin-bottom: -5px
    position: relative
    top: -10px

@media screen and (min-width: 1220px)

  header
    margin-bottom: 40px
    
    img
      height: 350px

@media screen and (max-width 730px)

  header
    height: 200px
    background-position: center -30px
    
  .logo
    position: relative
    top: -30px
    background-size: 150%

  h2
    font-size: 30px
  
  footer
    background-size: 200%
    height: 80px


@media screen and (max-width: 660px)    
  br
    display: none
    
  .list-inline li
    display: block

  ul 
    li
      width: 100%
      position: relative
      margin-bottom: 15px
      margin: 0 auto 15px auto
      width: 250px
      &:last-child
        margin-bottom: 0
        p
          margin-bottom: 0
    
    img
      width: 100px
      position: absolute
      left: 0
      
    .space
      position: absolute
      left: 25px
      width: 50px
      top: -20px
      
    p
      text-align: left
      margin-top: -2px
      padding: 0px 0px 0px 120px
      font-size: 14px
      

@media screen and (max-width 600px)

  header
    background-size: 200%
    background-position: center 0
    height: 300px
    
  .logo
    margin-top: 80px
    width: 80%
    


    